html,body{
    display:grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: -webkit-linear-gradient(left,#ff5100,#9d0101);
}
header {
	background-color: #333;
	color: #fff;
	padding: 10px;
	position: sticky;
    top: 0;
    z-index: 2;
	display: flex;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}



.container {

    
    justify-content: space-around;
}

.vent{
	color:#010101;
}

.titulopagina{
    justify-content: center;

}



footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
    display: flex;
}

.titulo{
    font-size: flex;
    background-color: #333;
    color: white;
    
} 